<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div id="padre"> 
  <div id="titlepadre">
    <h1>
        Padre
      </h1>
  </div>
  <button with="50px" heigth="50px" (click)="cambiarOjosPrevius()"><--</button>
  <img alt="ojos" src="../assets/imagen/Padre/Ojos/{{this.idojo}}.png">
  <button with="50px" heigth="50px" (click)="cambiarOjosNext()">--></button>
  <br>
  <button with="50px" heigth="50px" (click)="cambiarNarizPrevius()"><--</button>
  <img alt="nariz" src="../assets/imagen/Padre/Nariz/{{this.idnariz}}.png">
  <button with="50px" heigth="50px" (click)="cambiarNarizNext()">--></button>
  <br>
  <button with="50px" heigth="50px" (click)="cambiarBocaPrevius()"><--</button>
  <img alt="Boca" src="../assets/imagen/Padre/Boca/{{this.idboca}}.png">
  <button with="50px" heigth="50px" (click)="cambiarBocaNext()">--></button>
</div>